@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");

/* resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	max-height: 100vh;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	background: #37474f;
	font-family: "Oxanium", sans-serif;
	position: relative;
}

.back-canvas,
.game-canvas {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0);
}

.back-canvas {
	z-index: 1;
}
.game-canvas {
	z-index: 2;
}

h1 {
	margin-top: 4rem;
	color: aliceblue;
}

.content {
	width: 400px;
	display: flex;
	justify-content: space-evenly;
}

.content > p {
	font-size: 1.15rem;
	margin: 1rem 0;
	padding-right: 1.5rem;
	color: aliceblue;
}
.content > p:last-child {
	font-weight: bold;
	margin-left: 1.5rem;
}

.status {
	width: 400px;
	color: #fff;
	text-align: center;
}
